BusinessSystemsApp/Service References/LoggerServiceReference/Logger2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoggException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_browserInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_exception" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoggExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggExceptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>